* {box-sizing: border-box;}

.fig1 {
    min-width: 320px; 
    max-width: 800px;
    margin: 1em auto;
}

.fig2 #container2 {
    min-width: 600px; 
    max-width: 1024px;
    min-height: 512px;
    margin: 1em auto;
}

.contenedor {
    max-width: 1024px;
    margin: 0 auto;
    font: 1em 'Lato', sans-serif;
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.8em;
  }
  h1 {
    text-align:center;
  }

ul li {
    font-size: 0.8em;

}

#subtitulo {
    font-size: 0.6em;
}
#autor {
    text-align:right;
}

html, 
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}